<!DOCTYPE html>
{{ if .Site.Params.lang }}
<html lang="{{ .Site.Params.lang }}">
{{ else }}
<html lang="en" charset="utf-8">
{{ end }}
{{ range .Site.Params.plugins.logo }}
<img class="center logo" src="{{ .URL | absURL }}" alt-text="SeattleCTF Logo">
{{ end }}
<h1 class="title-text center">{{ .Site.Params.shortTitle }}</h1>

  {{- partial "head.html" . -}}
  {{- partial "header.html" . -}}
<body>
  {{- partial "typer.html" . }}
  <div id="console"></div>
  {{- partial "social.html" . -}}
</body>
</html>
