<head><title>{{ .Site.Params.title }}</title>

{{ range .Site.Params.plugins.cookies }}
<link rel="text/javascript" src="{{ .URL | absURL }}">
{{ end }}

{{ range .Site.Params.opengraph }}
<meta property="og:title" content="{{ .title }}">
<meta property="og:image" content="{{ .image | absURL }}">
<meta property="og:url" content="{{ .url | absURL }}">
<meta property="og:site_name" content="{{ .site_name }}">
<meta property="og:type" content="{{ .type }}">
{{ end }}

{{ range .Site.Params.plugins.css }}
<link rel="stylesheet" href="{{ .URL | absURL }}">
{{ end }}
{{ range .Site.Params.plugins.favicon }}
<link rel="icon" type="image/png" href="{{ .URL | absURL }}">
{{ end }}
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-160710111-1"></script>
