{{ range .Site.Params.twittercard}}
<meta name="twitter:card" content="{{ .type }}">
<meta name="twitter:site" content="{{ .site }}">
<meta property="og:url" content="{{ .url }}">
<meta property="og:title" content="{{ .title }}">
<meta property="og:description" content="{{ .description }}">
<meta property="og:image" content="{{ .imagesrc }}">
{{ end }}

<div id="social" class="fade-in center">
{{ with .Site.Params.social }}
  {{ range sort . "weight"}}
      <a href="{{ .url }}" aria-label="{{ .name }}" {{ if .rel }}rel="{{ .rel }}"{{ end }}>
        {{ if .icon }}
          <i class="{{ .icon }}" aria-hidden="true"></i>
        {{ else }}
          {{ .name }}
        {{ end }}
      </a>
  {{ end }}
{{ end }}
</div>
